
<header class="video-container-splash overlay bg-image-full" style="background-image: url('{% for feature in page.features limit: 1 %}{{ feature.image_url }}{% endfor %}')">
  {{ page.excerpt }}
  <div class="container-fluid no-padding-x">
    <div class="row no-gutters">
      {% include "nav" %}

      <div class="headline-container video-toggle col-sm-8">
        <div class="row no-gutters">
          <div class="col-md-6 col-md-offset-1 col-sm-9 col-sm-offset-1 homepage-header-container">
            <h1 class="headline">{{ page.headline }}</h1>
            <span class="subtitle">{{ page.basic.content }}</span>
          </div>
        </div>
      </div>
    </div>
    <a class="video-playback-link" href="#" id="play-video">Watch Video</a>
  </div>
</header>



<section class="no-padding-x container-fluid">
  <div class="row no-gutters">

    {% comment %}
    {% tag "feature" with "feature_campaign" %}
    {% endcomment %}

    <div class="col-md-8 col-sm-6 two-thirds">
    		<div class="row">
    			<div class="col-sm-10 col-sm-offset-1 headline-container">
    				<div id="feature-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    					<div class="carousel-inner">
                {% tag "carousel" with "feature_carousel" %}
    					</div>
    				</div>
    			</div>
    		</div>
    </div>


    {% tag "box1" with "campaign" %}

    {% tag "box2" with "campaign" %}

    {% tag "box3" with "campaign" %}

    {% tag "box4" with "campaign" %}

    <div class="col-md-4 col-sm-6 twitter-feed">
      <div class="twitter-block" style="border: 30px solid #fff;">
      <a class="twitter-timeline" href="https://twitter.com/marathonofhope?ref_src=twsrc%5Etfw" data-height="400" data-chrome="noheader nofooter noborders noscrollbar transparent">Tweets by tfri_research</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

    {% tag "box5" with "campaign" %}

    {% subpage "newsletter" with "newsletter" %}


  </div>

</section>
