<header class="homepage bg-image-full overlay" style="background-image: url('{% for feature in page.features limit: 1 %}{{ feature.image_url }}{% endfor %}')">
  <div class="container-fluid no-padding-x">
    <div class="row no-gutters">
      <div class="col-sm-11" style="float: none; margin: 0 auto;">
        {% include "nav" %}
      </div>
      <div class="headline-container page-basic col-sm-6 col-sm-offset-3">
            <h1 class="headline">{{ page.headline | strip_html }}</h1>
      </div>
    </div>
  </div>
</header>

<section class="achievements-box">
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="achievements text-center">
        <img src="https://d3n8a8pro7vhmx.cloudfront.net/themes/59e7ebce5ee54d80bc000000/attachments/original/1565296281/moh_redcircle-noleaf-01.png?1565296281" alt="" class="red-circle">
        <h1>{{ page.excerpt }}</h1>
        <hr>
        {{ page.basic.content }}
      </div>
    </div>
  </div>
</section>

<section class="timeline">
    <div class="container">
      {% for child in page.children %}
      <div class="timeline-item">
        <div class="timeline-img"></div>

        <div class="timeline-content {% cycle 'js--fadeInLeft', 'js--fadeInRight' %}">
          <div class="date">{{ child.excerpt }}</div>
          <h2>{{ child.headline }}</h2>
          <div class="divider"></div>

          {{ child.basic.content }}

        </div>
      </div>
      {% endfor %}
    </div>
  </section>
